<html lang="en">
<head>
    <title>Product {{product.id}}</title>
</head>
<body>
<h2>Products</h2>
<a href="/">Main page</a>
<table>
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Shelf life</th>
        <th>Price</th>
    </tr>

    <tr>
        <td>{{product.name}}</td>
        <td>{{product.code}}</td>
        <td>{{product.shelfLife}}</td>
        <td>{{product.price}}</td>
    </tr>

</table>
</body>
</html>